# Default configuration file for delivery service

---

db_connection_string: 'sqlite:///my.db'
alembic_path: 'alembic/'
runfolder_directory: tests/resources/runfolders
general_project_directory: tests/resources/projects
staging_directory: /tmp/
project_links_directory: /tmp/
readme_directory: tests/resources/readme
port: 9999
readme_directory: '.'
